body {
    margin: 0;
    background-color: #19A3FF;
}

/** thumbnail gallery **/
.gallery {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 790px;
    height: auto;
}
.thumb {
    width: 240px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 1px;
    float: left;
    background: white;
    outline: rgb(0, 0, 0) solid thin;
}
.thumb-title {
    text-align: center;
    font-family: 'Racing Sans One';
    font-size: 20px;        
}
.img-frame {
    margin: 2px;
    width: auto;
    height: 165px;
}
.image {
    display: block;
    height: 165px;
    width: auto;
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.thumb-bar {
    padding: 0;
    width: 240px;
    background-color: red;
    vertical-align: bottom;
}
.thumb-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.thumb-item {
    display: inline;
    float: left;
}
a.thumb-link:link, a.thumb-link:visited {
    font-family: 'Racing Sans One';
    font-size: 16px;
    display: block;
    width: 120px;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
}
a.thumb-link:hover, a.thumb-link:active {
    background-color: rgb(220, 220, 220);
}

